@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/wc1786837.jpg);
    font-family: 'Rubik', sans-serif;
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    align-items: center;
}

.time {
    display: flex;
    

}

.time span{
    background-color: rgba(150, 4, 240, 0.755);
    width: 100px;
    height: 80px;
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.time div{
    margin: 5px;
    
}

.time .text{
    font-size: 17px;
    background-color: rgba(44, 226, 132, 0.716);
    height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.time #ampm{
    font-size: 25px;
    height: 35px;
}

